root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

[*.{cs,csx}]
indent_style = space
indent_size = 4
insert_final_newline = true
# Fresh repo: deliberately NO utf-8-bom requirement.
charset = utf-8

# Namespace + using conventions
csharp_style_namespace_declarations = file_scoped:suggestion
dotnet_sort_system_directives_first = true
csharp_using_directive_placement = outside_namespace:suggestion

[*.{json,csproj,props,targets,slnx}]
indent_style = space
indent_size = 2
insert_final_newline = true

[*.{yml,yaml}]
indent_style = space
indent_size = 2
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
